<% layout('layouts/boilerplate')%>
    <h1>All Campgrounds</h1>
    <% for(let camp of campground){%>
        <div class="card mb-4 ">
            <div class="row">
                <div class="col-4">
                    <img src="<%= camp.image %> " class="card-img-top my-2" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body ">
                        <h5 class="card-title">
                            <%= camp.title %>
                        </h5>
                        <p class="card-text">
                            <%= camp.description %>
                        </p>
                        <h6 class="card-text ">Location: 
                            <%= camp.location %>
                        </h6>
                        <a href="/campgrounds/<%= camp.id %> " class="btn btn-primary mb-2">view</a>
                    </div>
                </div>
            </div>
        </div>


        <% } %>