<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= campground.title %>
    </title>
</head>

<body>
    <h1>
        <%= campground.title.toUpperCase() %>
    </h1>
    <% if(campground.description){ %>
        <div>
            Description: <%= campground.description %>
        </div>
        <% } %>
            <div>
                <% if(campground.price){ %>
                    <div>
                        Cost : Rs <%= campground.price %>
                    </div>
                    <% } %>
                        <% if(campground.location){ %>
                            <div>Location:
                                <%= campground.location %>
                            </div>
                            <% } %>
            </div>
            <a href="/campgrounds">All Campgrounds</a> <a href="/campgrounds/<%=campground.id%>/edit">Edit
                Campground</a>
            <form action="/campgrounds/<%=campground.id%>?_method=DELETE" method="post">
                <button>Delete</button>
            </form>


</body>

</html>